page-add-product-price {
    .text-input[disabled] {
        opacity: 1;
    }
    ion-icon {
        display: inline-block;
        font-size: 2.2em;
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: #fb5b5b;
        font-weight: bold;
    }
}
