<ion-header>
    <ion-navbar color="danger" hideBackButton="true">
        <ion-title>Edit Quotation</ion-title>
    </ion-navbar>
    <ion-toolbar class="sub-header-content">
        <ion-title>
                <ion-row>
                        <ion-col text-left>
                            <span class="cardTitle">
                                {{quotationDetailsData?.quoteNumber}}
                            </span>
                        </ion-col>
                        <ion-col text-right class="status-img">
                           <!-- <ion-icon name="checkmark-circle" style="color: rgb(50, 219, 100);"></ion-icon>-->
                           <img src="assets/imgs/approved.svg" *ngIf="quotationDetailsData?.quoteStatus == 'APPROVED'">
                            <img src="assets/imgs/pending.svg"  *ngIf="quotationDetailsData?.quoteStatus == 'PENDING'">
                            <img src="assets/imgs/reject.svg"  *ngIf="quotationDetailsData?.quoteStatus == 'DISCARDED'">
                            <ion-icon class="status-draft" name="bookmark"  *ngIf="quotationDetailsData?.quoteStatus == 'DRAFT'"></ion-icon>
                            <!-- <ion-icon name="checkmark-circle" [style.color]="item.quoteStatus=='DRAFT' ? 'orange': 'red'"></ion-icon> {{item.quoteStatus}} -->
                        </ion-col>
                    </ion-row>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="addQuoteForm" (ngSubmit)="submitQuotation()">
        <ion-list text-center>

            <ion-item margin-bottom>
                <ion-label stacked>Work Title</ion-label>
                <ion-input type="text" formControlName="workTitle" placeholder="Enter Work Title"></ion-input>
            </ion-item>
            <ion-item margin-bottom>
                <ion-label stacked>Client Name</ion-label>
                <ion-input type="text" formControlName="clientName" placeholder="Enter Client Name"></ion-input>
            </ion-item>
            <ion-row>
                <ion-col text-left>
                    <ion-label stacked class="phoneTitle">Contact Number</ion-label>
                </ion-col>
            </ion-row>
            <ion-item margin-bottom>
                <ion-label color="danger" fixed>+91</ion-label>
                <ion-input formControlName="contactNo" type="tel" placeholder="phone no"></ion-input>
            </ion-item>
            <ion-item margin-bottom>
                <ion-label stacked>Street Address</ion-label>
                <ion-input type="text" formControlName="streetAddress" placeholder="Enter Street Address"></ion-input>
            </ion-item>
            <ion-item margin-bottom>
                <ion-label stacked>State</ion-label>
                <ion-select formControlName="state" [compareWith]="compareFn">
                    <ion-option *ngFor="let state of states" [value]="state.stateName">{{state.stateName}}</ion-option>
                </ion-select>
           </ion-item> 
            <!--<ion-item margin-bottom>
                <ion-label stacked>State</ion-label>
                <ion-input type="text" formControlName="state" placeholder="Enter State"></ion-input>
            </ion-item>-->
            <!--<ion-item>
                 <ion-label stacked>City</ion-label>
                <ion-input type="text" formControlName="city" placeholder="Enter City"></ion-input>
            </ion-item>-->
            <ion-item margin-bottom>
                <ion-label stacked>City</ion-label>
                <ion-select formControlName="city" [compareWith]="compareFn">
                    <ion-option *ngFor="let city of cities" [value]="city.cityName">{{city.cityName}}</ion-option>
                </ion-select> 
           </ion-item>    
            <!--<ion-item>
                <select-searchable title="State" formControlName="state" [items]="states" [(ngModel)]="state" itemValueField="id" itemTextField="stateName" [canSearch]="true" (onChange)="stateChange($event)">
                </select-searchable>
            </ion-item>
            <ion-item>
                <select-searchable title="City" formControlName="city" [items]="cities" itemValueField="id" itemTextField="cityName" [canSearch]="true" (onChange)="cityChange($event)">
                </select-searchable>
             </ion-item>-->
            <ion-item class="note-box" no-border>
                <ion-label class="note-title" stacked>Terms and conditions</ion-label>
                <ion-textarea class="cust-ion-textarea" placeholder="Write here" formControlName="tnc"></ion-textarea>
             </ion-item>
             
        </ion-list>
    </form>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title>
            <ion-row>
                <ion-col text-center>
                    <button class="full-btn" ion-button color="primary" round (click)="cancelButton()">Cancel</button>
                </ion-col>
                <ion-col text-center>
                    <button class="full-btn" ion-button color="secondary" round (click)="submitQuotation()">Save</button>
                </ion-col>
            </ion-row>
        </ion-title>
    </ion-toolbar>
</ion-footer>