page-select-login-type {
    
    .logo {
        display: block;
        margin: 5em auto;
        width: 150px;
    }

    h6, h2{
        color: #7f7e7e;
    }

    .help{
        display: block;
        margin: 5em auto !important;
    }
    .btnGap{
        margin-bottom: 14px !important;
    }
}
